# Xcode
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcscmblueprint

# macOS
.DS_Store

# Swift Package Manager
.build/
Packages/

# CocoaPods (if you use later)
Pods/

# Others
*.log
